.max-width-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.card-wrapper {
  background-color: hsl(0, 4%, 72%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 32px;
  padding: 32px;
}

.card {
  --border-radius: 4px;
  --spacing-top-bottom: 8px;
  --spacing-right-left: 16px;
  display: grid;
  padding: var(--spacing-top-bottom) var(--spacing-right-left);
  background-color: white;
  border: 1px solid gray;
  grid-gap: 16px;
  border-radius: var(--border-radius);
}

.img-wrapper {
  margin-left: calc(var(--spacing-right-left) * -1);
  margin-right: calc(var(--spacing-right-left) * -1);
  margin-top: calc(var(--spacing-top-bottom) * -1);
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin-bottom: 1em;
}

.info-button {
  color: white;
  background-color: deeppink;
  border: none;
  cursor: pointer;
  transition: transform 400ms;
  will-change: transform;
  font-weight: bold;
}
.info-button:hover {
  transform: scale(1.1);
  transition: transform 200ms;
}
.info-button:active {
  transform: scale(1);
  transition: transform 100ms;
}
.published {
  justify-self: end;
  font-weight: bold;
}

.date {
  color: rgb(122, 200, 5);
}
